name: "CI"

on:
  # push:
  workflow_dispatch:

jobs:
  vitest:
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2]
        include:
          - total: 2
    runs-on: ubuntu-latest
    name: vitest-${{ matrix.shard }}
    steps:
      - uses: actions/checkout@v5
      - name: Run Vitest tests shard ${{ matrix.shard }}/${{ matrix.total }}
        uses: ./.github/actions/test-shard
        with:
          shard: ${{ matrix.shard }}
          total: ${{ matrix.total }}
          runner: vitest

  test-report:
    needs: vitest
    if: ${{ !cancelled() }} # run this step even if previous step failed
    runs-on: ubuntu-latest
    steps:
      - name: Aggregate Vitest reports
        uses: dorny/test-reporter@v2
        with:
          name: Aggregate Test Report
          artifact: /test-results-(.*)/
          reporter: jest-junit
          list-tests: failed
          list-suites: failed
          path: "**/*.xml"
