name: "CI"

on:
  push:
  workflow_dispatch:

jobs:
  vitest:
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2]
        include:
          - total: 2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run Vitest tests shard ${{ matrix.shard }}/${{ matrix.total }}
        uses: ./.github/actions/test-shard
        with:
          shard: ${{ matrix.shard }}
          total: ${{ matrix.total }}
          runner: vitest
      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }} # run this step even if previous step failed
        with:
          name: Vitest Report ${{ matrix.shard }}
          path: test-results/ui-vitest-junit.xml
          reporter: jest-junit
          only-summary: true
          badge-title: Vitest - ${{ matrix.shard }}/${{ matrix.total }}
